.app {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  max-width: 1000px;
  padding: 20px;
  width: 75%;
}
