.drop-zone {
  background-color: #eee;
  border-radius: 10px;
  height: 120px;
  padding: 5px 25px;

  .image-wrapper {
    position: relative;
  }
  .image {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}
