.drop-zone {
  background-color: #eee;
  border-radius: 10px;
  height: 120px;
  padding: 5px 25px;
  position: relative;

  .drop-zone-highlight {
    background-color: darkturquoise;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 0;
  }

  .image-wrapper {
    position: relative;
  }
  .image {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
