.stitch-view {
  background-color: #eee;
  border-radius: 7px;
  height: 100px;
  margin-bottom: 5px;
  padding: 5px 25px;

  .image {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
  .disabled {
    opacity: 0.5;
  }
}
